:root{
    /********* Colors *********/
    --black: #221E22;
    --white: #DEE5E5;
    --purple: #A980E8;
    --yellow: #FFC482;
    --blue: #188FA7;
}

.postFormWrapper {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
}

.postForm {
    background-color: #DEE5E5;
    padding: 2em;
    /*transform-origin: center;*/
}


.form-check-inline {
    display: inline-block;
    margin-right: 0;
}

.form-check {
    padding-left: 0;
}

.floating {
    text-align: center;
}

fieldset {
    text-align: start;
    max-width: 500px;
}

.btn-check {
    margin: 0;
}

.btn-primary {
    --bs-btn-bg: #A980E8;
}

