:root{
    /********* Colors *********/
    --black: #221E22;
    --white: #DEE5E5;
    --purple: #A980E8;
    --yellow: #FFC482;
    --blue: #188FA7;
}
.nav_logo{
    width: 5rem;
    height: 5rem;
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: var(--purple);
    font-family: sans-serif, "Arial-rounded Mt";
    font-weight: bold;
}

