:root{
/********* Colors *********/
    --black: #221E22;
    --white: #DEE5E5;
    --purple: #A980E8;
    --yellow: #FFC482;
    --blue: #188FA7;

}
/*!********* Mobile *********!*/
/*@media screen and (max-width: 464px) {*/
/*    .button{*/
/*        display: none;*/
/*    }*/
/*}*/
/*!********* Tablet *********!*/
/*@media screen and (max-width: 1024px) {*/

/*}*/
.slider{
    --slider-index: 0;
    display: flex;
    justify-content: space-between;
    transform: translateX(0px);

}
.button{
    border: none;
    width: 5rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, .25);
    z-index: 10;
    display: flex;
    font-size: 5rem;
    align-content: center;
    justify-content: center;
    color: #FFF;

}
.button:hover{
    background-color: rgba(0, 0, 0, .5);
    border-bottom-left-radius: 0;
}
.wrapper{
    margin-bottom: 2rem;
    border: none;
}